@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<center>
    <div>
        <h1>Dat is pech, wachtwoord weg!</h1>
        <img src="~/images/temporary.gif" />
        <h1>Dat is balen, nieuwe halen!</h1>
    </div>
</center>


