@page
@model LockoutModel
@{
    ViewData["Title"] = "Gesloten";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Dit account is gesloten, probeer het later opnieuw.</p>
</header>
