@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bevestiging wachtwoord resetten";
}

<h1>@ViewData["Title"]</h1>
<p>
    Uw wachtwoord is gereset. Gelieve <a asp-page="./Login">hier te klikken om in te loggen</a>.
</p>
