@{
    ViewData["Title"] = "Privacy First & Forever Free";
}
<link rel="stylesheet" href="~/css/Homepage.css" />

<video id="home-vid" autoplay muted loop playsinline>
    <source src="~/images/CameraLoop.mp4" type="video/mp4" />
</video>

<div class="corner">
    <h2>Privacy First and Forever Free</h2>
</div>
