@page
@model Disable2faModel
@{
    ViewData["Title"] = "Schakel Twee-Factor Authenticatie (2FA) Uit";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deze actie schakelt 2FA uit.</strong>
    </p>
    <p>
        2FA uitschakelen verandert niet de gebruikte sleutels in authenticator apps. Als u wenst de sleutel in een authenticator app te wijzigen moet u <a asp-page="./ResetAuthenticator">uw authenticator sleutels resetten.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Schakel 2FA uit</button>
    </form>
</div>
