@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Persoonlijke Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Uw account bevat persoonlijke data. Deze pagina staat u toe deze data te downloaden of te verwijderen.</p>
        <p>
            <strong>Het verwijderen van deze data zal uw account permanent verwijderen. Dit kan niet ongedaan worden gemaakt.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Downloaden</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Verwijderen</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
